## PyTorch End to End Workflow

In [7]:
import torch
from torch import nn ## nn contains all of PyTorch's building blocks for neural networks
import pandas_datareader as pdr
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib notebook

In [21]:
tempData = pd.read_csv('../_data/NH_Ts_dSST.csv')
tempData.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.39,-0.53,-0.23,-0.30,-0.05,-0.18,-0.21,-0.25,-.24,-.30,-.43,-.42,-.29,***,***,-0.19,-0.21,-.32
1,1881,-0.30,-0.24,-0.05,-0.02,0.05,-0.33,0.10,-0.04,-.28,-.44,-.36,-.23,-.18,-.19,-.32,-0.01,-0.09,-.36
2,1882,0.26,0.21,0.02,-0.30,-0.23,-0.28,-0.28,-0.14,-.24,-.51,-.33,-.68,-.21,-.17,.08,-0.17,-0.23,-.36
3,1883,-0.58,-0.66,-0.15,-0.30,-0.25,-0.11,-0.05,-0.22,-.34,-.16,-.44,-.15,-.29,-.33,-.64,-0.24,-0.13,-.31
4,1884,-0.16,-0.11,-0.64,-0.59,-0.36,-0.41,-0.41,-0.51,-.45,-.44,-.57,-.47,-.43,-.40,-.14,-0.53,-0.44,-.49

In [29]:
df = tempData[1:]['J-D']
df

1      -.18
2      -.21
3      -.29
4      -.43
5      -.43
       ...
138    1.04
139    1.21
140    1.35
141    1.14
142     ***
Name: J-D, Length: 142, dtype: object